option_settings:
  aws:elbv2:listener:443:
    ListenerEnabled: true
    Protocol: HTTPS
    SSLCertificateArns: '{"Fn::GetOptionSetting": {"Namespace": "aws:elasticbeanstalk:application:environment", "OptionName": "SSL_CERTIFICATE_ARN"}}'
    SSLPolicy: ELBSecurityPolicy-TLS13-1-2-2021-06
  aws:elbv2:listener:80:
    ListenerEnabled: true
    Protocol: HTTP
    DefaultProcess: default
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /
    Port: 80
    Protocol: HTTP
