files:
  "/opt/elasticbeanstalk/tasks/taillogs.d/laravel-efs.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      /mnt/efs/storage/logs/laravel.log
  "/opt/elasticbeanstalk/tasks/bundlelogs.d/laravel-efs.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      /mnt/efs/storage/logs/laravel.log
